<ion-header>
  <ion-toolbar mode="md" class="header">
    <ion-title mode="ios" class="ion-text-center">
      <ion-img class="logo" [src]="logoSrc"></ion-img>
    </ion-title>

    <ion-buttons *ngIf="!searching && checkSearchBtnVisibility()" slot="secondary">
      <ion-button (click)="doSearch()" mode="ios">
        <ion-icon slot="icon-only" name="search-outline" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar *ngIf="searching" (ionInput)="filterImages($event)" showCancelButton="always" (ionCancel)="cancelSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loadingImages" class="lottie-container">
    <ng-lottie width="600px" height="500px" [options]="lottieOptions" (animationCreated)="animationCreated($event)">
    </ng-lottie>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" size *ngFor="let image of images">
        <ion-card class="gallery-card">
          <ion-card-header>
            <ion-img [src]="image?.photo"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <p>{{ image.text }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll *ngIf="!maxScrollReached" threshold="500px" class="inf-scr-padding" (ionInfinite)="doScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
